# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Desktop\Code-20210106T152441Z-001\Code\Introduction to Object-Oriented Programming with Java\Introduction to Object-Oriented Programming with Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
